@charset "utf-8";
/* =============================================================================
   определения отображения HTML5
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Ссылки
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Улучшение читаемости при получении фокуса и наведении указателя во всех браузерах: h5bp.com/h */
a:hover, a:active { outline: 0; }

/* =============================================================================
   Встроенное содержимое
   ========================================================================== */

/*
 * 1. Улучшение качества изображения при масштабировании в IE7: h5bp.com/d
 * 2. Устранение разрыва между изображениями и границами в контейнерах изображений: h5bp.com/e
 */

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/* =============================================================================
   База
   ========================================================================== */

/*
 * 1. Исправление изменения размера текста в IE6/7 при установке размера шрифта тела в единицах em
 * 2. Принудительное применение вертикальной строки прокрутки в браузерах, отличных от IE
 * 3. Предотвращение изменение размера текста iOS при изменении ориентации устройства без отключения пользовательского масштаба: h5bp.com/g
 */

html { font-size: 100%; overflow: auto; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body {
	margin: 0;
	font-size: 13px;
	line-height: 1.231;
}

body, button, input, select, textarea {
	font-family: sans-serif;
	color: #222;
	clear: both;
	float: none;
}

input.fields {
	border-radius: 3px;
}
input.log_but {
	width: 7em;
	height: 2em;
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(70,70,70);
  border-radius: 3px;
  background: rgb(245,245,245) linear-gradient(#f7f7f7, #f7f7f7);
  transition: all .218s ease 0s;
}
input.log_but:hover {
  color: rgb(24,24,24);
  /*border: 1px solid rgb(50,50,50);*/
  background:  linear-gradient(#dcdcdc, #dcdcdc);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
	cursor: pointer;
}
input.log_but:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}

/* Простой «резиновый» носитель
   Примечание. Для «резинового» носителя требуется удалить атрибуты высоты и ширины из HTML
   http://www.alistapart.com/articles/fluid-images/
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE6 не поддерживает атрибут max-width, поэтому по умолчанию используется ширина 100 % */
.ie6 img {
	width:100%;
}

/*
	Свойства Dreamweaver Fluid Grid
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;

	Вдохновлено книгой «Отзывчивый веб-дизайн» (Responsive Web Design) Итана Маркота (Ethan Marcote)
	http://www.alistapart.com/articles/responsive-web-design

	и системой Golden Grid Джони Корпи (Joni Korpi)
	http://goldengridsystem.com/
*/

/* Мобильный макет: 480 пикс. и меньше. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 89.28%;
	padding-left: 1.86%;
	padding-right: 1.86%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#login_fields {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Макет для планшета: 481–768 пикс. Наследует стили от мобильного макета. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 94.575%;
	padding-left: 1.2125%;
	padding-right: 1.2125%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#login_fields {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Макет для настольного компьютера: 769–1232 пикс. (максимум). Наследует стили от мобильного макета и макета для планшета. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 93.1%;
	max-width: 1232px;
	padding-left: 0.95%;
	padding-right: 0.95%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
/*	id	*/

#login_fields {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 100%;
	display: block;
}
}

#login_form {
	animation-delay: 1s;
	animation-duration: 3s;
}

#login_image {
	width: 35%;
}

/*	class	*/

.log_form {
	display: block;
	width: 20%;
	position: absolute;
	top: 25%;
	left: 58%;
	font-size: 1.1em;
	color: grey;
}
.log_im {
	position: absolute;
	display: block;
	width: 46%;
	top: 25%;
	left: 20%;
}
